In [1]:
import torch
import pandas as pd
import numpy as np

In [2]:
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')
device

device(type='cuda')

In [111]:
merged_df = pd.read_parquet('processed_df/merged_df.parquet')

In [112]:
merged_df = merged_df.reset_index()
merged_df.rename(columns={'index': 'claim_index'}, inplace=True)
merged_df.head()

,claim_index,claim_id,label,claim,wiki_title,wiki_index,wiki_text
0,0,75397,SUPPORTS,nikolaj coster waldau worked with the fox broa...,Nikolaj_Coster-Waldau,3508521,nikolaj coster waldau lrb lsb ne ola k sd ald ...
1,1,58718,REFUTES,nikolaj coster waldau was not in a danish thri...,Nikolaj_Coster-Waldau,3508521,nikolaj coster waldau lrb lsb ne ola k sd ald ...
2,2,134655,SUPPORTS,nikolaj coster waldau worked with peter dinklage,Nikolaj_Coster-Waldau,3508521,nikolaj coster waldau lrb lsb ne ola k sd ald ...
3,3,86306,REFUTES,nikolaj coster waldau refused to ever work wit...,Nikolaj_Coster-Waldau,3508521,nikolaj coster waldau lrb lsb ne ola k sd ald ...
4,4,149361,SUPPORTS,nikolaj coster waldau was in a film,Nikolaj_Coster-Waldau,3508521,nikolaj coster waldau lrb lsb ne ola k sd ald ...

In [113]:
wiki_df = merged_df[['claim_index', 'wiki_index', 'wiki_text']].drop_duplicates(subset = ['wiki_index', 'wiki_text'])

In [118]:
wiki_df.head()

,claim_index,wiki_index,wiki_text
0,0,3508521,nikolaj coster waldau lrb lsb ne ola k sd ald ...
33,33,1736417,the fox broadcasting company lrb often shorten...
52,52,2247952,the history of art is the history of any activ...
88,88,264220,adrienne eliza houghton lrb n e bailon born oc...
121,121,2251350,homeland is an american spy thriller televisio...

In [75]:
claims = list(merged_df['claim'])
wiki_text = list(set(list(merged_df['wiki_text'])))
# evidence = list(df['evidence_wiki_url'])

In [54]:
claims[:3]

['nikolaj coster waldau worked with the fox broadcasting company',
 'nikolaj coster waldau was not in a danish thriller film',
 'nikolaj coster waldau worked with peter dinklage']

In [55]:
len(claims)

102751

In [56]:
len(wiki_text)

9530

In [57]:
from transformers import DPRQuestionEncoder, DPRQuestionEncoderTokenizer
import torch

question_encoder = DPRQuestionEncoder.from_pretrained('facebook/dpr-question_encoder-multiset-base').to(device)
question_tokenizer = DPRQuestionEncoderTokenizer.from_pretrained('facebook/dpr-question_encoder-multiset-base')

def encode_questions(questions, batch_size=32):
    question_encoder.eval()
    question_embeddings = []

    for start_idx in range(0, len(questions), batch_size):
        
        print(f"Encoding indices: {start_idx}:{start_idx+batch_size}")
        batch_questions = questions[start_idx:start_idx + batch_size]

        # Using batch_encode_plus for efficient tokenization
        inputs = question_tokenizer.batch_encode_plus(batch_questions, return_tensors='pt', padding=True, truncation=True, max_length=512)

        # Move tokenized inputs to GPU
        inputs = {k: v.to(device) for k, v in inputs.items()}

        # Forward pass through the encoder
        with torch.no_grad():
            batch_embeddings = question_encoder(**inputs).pooler_output
        question_embeddings.append(batch_embeddings.cpu())
        
        # Clearing memory
        del inputs, batch_embeddings
        torch.cuda.empty_cache()

    return torch.cat(question_embeddings, dim=0)

Some weights of the model checkpoint at facebook/dpr-question_encoder-multiset-base were not used when initializing DPRQuestionEncoder: ['question_encoder.bert_model.pooler.dense.weight', 'question_encoder.bert_model.pooler.dense.bias']
- This IS expected if you are initializing DPRQuestionEncoder from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing DPRQuestionEncoder from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [58]:
batch_size = 256
claims_embeddings = encode_questions(claims, batch_size=batch_size)

Encoding indices: 0:256
Encoding indices: 256:512
Encoding indices: 512:768
Encoding indices: 768:1024
Encoding indices: 1024:1280
Encoding indices: 1280:1536
Encoding indices: 1536:1792
Encoding indices: 1792:2048
Encoding indices: 2048:2304
Encoding indices: 2304:2560
Encoding indices: 2560:2816
Encoding indices: 2816:3072
Encoding indices: 3072:3328
Encoding indices: 3328:3584
Encoding indices: 3584:3840
Encoding indices: 3840:4096
Encoding indices: 4096:4352
Encoding indices: 4352:4608
Encoding indices: 4608:4864
Encoding indices: 4864:5120
Encoding indices: 5120:5376
Encoding indices: 5376:5632
Encoding indices: 5632:5888
Encoding indices: 5888:6144
Encoding indices: 6144:6400
Encoding indices: 6400:6656
Encoding indices: 6656:6912
Encoding indices: 6912:7168
Encoding indices: 7168:7424
Encoding indices: 7424:7680
Encoding indices: 7680:7936
Encoding indices: 7936:8192
Encoding indices: 8192:8448
Encoding indices: 8448:8704
Encoding indices: 8704:8960
Encoding indices: 8960:9216
Encoding indices: 9216:9472
Encoding indices: 9472:9728
Encoding indices: 9728:9984
Encoding indices: 9984:10240
Encoding indices: 10240:10496
Encoding indices: 10496:10752
Encoding indices: 10752:11008
Encoding indices: 11008:11264
Encoding indices: 11264:11520
Encoding indices: 11520:11776
Encoding indices: 11776:12032
Encoding indices: 12032:12288
Encoding indices: 12288:12544
Encoding indices: 12544:12800
Encoding indices: 12800:13056
Encoding indices: 13056:13312
Encoding indices: 13312:13568
Encoding indices: 13568:13824
Encoding indices: 13824:14080
Encoding indices: 14080:14336
Encoding indices: 14336:14592
Encoding indices: 14592:14848
Encoding indices: 14848:15104
Encoding indices: 15104:15360
Encoding indices: 15360:15616
Encoding indices: 15616:15872
Encoding indices: 15872:16128
Encoding indices: 16128:16384
Encoding indices: 16384:16640
Encoding indices: 16640:16896
Encoding indices: 16896:17152
Encoding indices: 17152:17408
Encoding indices: 17408:17664
Encoding indices: 17664:17920
Encoding indices: 17920:18176
Encoding indices: 18176:18432
Encoding indices: 18432:18688
Encoding indices: 18688:18944
Encoding indices: 18944:19200
Encoding indices: 19200:19456
Encoding indices: 19456:19712
Encoding indices: 19712:19968
Encoding indices: 19968:20224
Encoding indices: 20224:20480
Encoding indices: 20480:20736
Encoding indices: 20736:20992
Encoding indices: 20992:21248
Encoding indices: 21248:21504
Encoding indices: 21504:21760
Encoding indices: 21760:22016
Encoding indices: 22016:22272
Encoding indices: 22272:22528
Encoding indices: 22528:22784
Encoding indices: 22784:23040
Encoding indices: 23040:23296
Encoding indices: 23296:23552
Encoding indices: 23552:23808
Encoding indices: 23808:24064
Encoding indices: 24064:24320
Encoding indices: 24320:24576
Encoding indices: 24576:24832
Encoding indices: 24832:25088
Encoding indices: 25088:25344
Encoding indices: 25344:25600
Encoding indices: 25600:25856
Encoding indices: 25856:26112
Encoding indices: 26112:26368
Encoding indices: 26368:26624
Encoding indices: 26624:26880
Encoding indices: 26880:27136
Encoding indices: 27136:27392
Encoding indices: 27392:27648
Encoding indices: 27648:27904
Encoding indices: 27904:28160
Encoding indices: 28160:28416
Encoding indices: 28416:28672
Encoding indices: 28672:28928
Encoding indices: 28928:29184
Encoding indices: 29184:29440
Encoding indices: 29440:29696
Encoding indices: 29696:29952
Encoding indices: 29952:30208
Encoding indices: 30208:30464
Encoding indices: 30464:30720
Encoding indices: 30720:30976
Encoding indices: 30976:31232
Encoding indices: 31232:31488
Encoding indices: 31488:31744
Encoding indices: 31744:32000
Encoding indices: 32000:32256
Encoding indices: 32256:32512
Encoding indices: 32512:32768
Encoding indices: 32768:33024
Encoding indices: 33024:33280
Encoding indices: 33280:33536
Encoding indices: 33536:33792
Encoding indices: 33792:34048
Encoding indices: 34048:34304
Encoding indices: 34304:34560
Encoding indices: 34560:34816
Encoding indices: 34816:35072
Encoding indices: 35072:35328
Encoding indices: 35328:35584
Encoding indices: 35584:35840
Encoding indices: 35840:36096
Encoding indices: 36096:36352
Encoding indices: 36352:36608
Encoding indices: 36608:36864
Encoding indices: 36864:37120
Encoding indices: 37120:37376
Encoding indices: 37376:37632
Encoding indices: 37632:37888
Encoding indices: 37888:38144
Encoding indices: 38144:38400
Encoding indices: 38400:38656
Encoding indices: 38656:38912
Encoding indices: 38912:39168
Encoding indices: 39168:39424
Encoding indices: 39424:39680
Encoding indices: 39680:39936
Encoding indices: 39936:40192
Encoding indices: 40192:40448
Encoding indices: 40448:40704
Encoding indices: 40704:40960
Encoding indices: 40960:41216
Encoding indices: 41216:41472
Encoding indices: 41472:41728
Encoding indices: 41728:41984
Encoding indices: 41984:42240
Encoding indices: 42240:42496
Encoding indices: 42496:42752
Encoding indices: 42752:43008
Encoding indices: 43008:43264
Encoding indices: 43264:43520
Encoding indices: 43520:43776
Encoding indices: 43776:44032
Encoding indices: 44032:44288
Encoding indices: 44288:44544
Encoding indices: 44544:44800
Encoding indices: 44800:45056
Encoding indices: 45056:45312
Encoding indices: 45312:45568
Encoding indices: 45568:45824
Encoding indices: 45824:46080
Encoding indices: 46080:46336
Encoding indices: 46336:46592
Encoding indices: 46592:46848
Encoding indices: 46848:47104
Encoding indices: 47104:47360
Encoding indices: 47360:47616
Encoding indices: 47616:47872
Encoding indices: 47872:48128
Encoding indices: 48128:48384
Encoding indices: 48384:48640
Encoding indices: 48640:48896
Encoding indices: 48896:49152
Encoding indices: 49152:49408
Encoding indices: 49408:49664
Encoding indices: 49664:49920
Encoding indices: 49920:50176
Encoding indices: 50176:50432
Encoding indices: 50432:50688
Encoding indices: 50688:50944
Encoding indices: 50944:51200
Encoding indices: 51200:51456
Encoding indices: 51456:51712
Encoding indices: 51712:51968
Encoding indices: 51968:52224
Encoding indices: 52224:52480
Encoding indices: 52480:52736
Encoding indices: 52736:52992
Encoding indices: 52992:53248
Encoding indices: 53248:53504
Encoding indices: 53504:53760
Encoding indices: 53760:54016
Encoding indices: 54016:54272
Encoding indices: 54272:54528
Encoding indices: 54528:54784
Encoding indices: 54784:55040
Encoding indices: 55040:55296
Encoding indices: 55296:55552
Encoding indices: 55552:55808
Encoding indices: 55808:56064
Encoding indices: 56064:56320
Encoding indices: 56320:56576
Encoding indices: 56576:56832
Encoding indices: 56832:57088
Encoding indices: 57088:57344
Encoding indices: 57344:57600
Encoding indices: 57600:57856
Encoding indices: 57856:58112
Encoding indices: 58112:58368
Encoding indices: 58368:58624
Encoding indices: 58624:58880
Encoding indices: 58880:59136
Encoding indices: 59136:59392
Encoding indices: 59392:59648
Encoding indices: 59648:59904
Encoding indices: 59904:60160
Encoding indices: 60160:60416
Encoding indices: 60416:60672
Encoding indices: 60672:60928
Encoding indices: 60928:61184
Encoding indices: 61184:61440
Encoding indices: 61440:61696
Encoding indices: 61696:61952
Encoding indices: 61952:62208
Encoding indices: 62208:62464
Encoding indices: 62464:62720
Encoding indices: 62720:62976
Encoding indices: 62976:63232
Encoding indices: 63232:63488
Encoding indices: 63488:63744
Encoding indices: 63744:64000
Encoding indices: 64000:64256
Encoding indices: 64256:64512
Encoding indices: 64512:64768
Encoding indices: 64768:65024
Encoding indices: 65024:65280
Encoding indices: 65280:65536
Encoding indices: 65536:65792
Encoding indices: 65792:66048
Encoding indices: 66048:66304
Encoding indices: 66304:66560
Encoding indices: 66560:66816
Encoding indices: 66816:67072
Encoding indices: 67072:67328
Encoding indices: 67328:67584
Encoding indices: 67584:67840
Encoding indices: 67840:68096
Encoding indices: 68096:68352
Encoding indices: 68352:68608
Encoding indices: 68608:68864
Encoding indices: 68864:69120
Encoding indices: 69120:69376
Encoding indices: 69376:69632
Encoding indices: 69632:69888
Encoding indices: 69888:70144
Encoding indices: 70144:70400
Encoding indices: 70400:70656
Encoding indices: 70656:70912
Encoding indices: 70912:71168

Encoding indices: 71168:71424
Encoding indices: 71424:71680
Encoding indices: 71680:71936
Encoding indices: 71936:72192
Encoding indices: 72192:72448
Encoding indices: 72448:72704
Encoding indices: 72704:72960
Encoding indices: 72960:73216
Encoding indices: 73216:73472
Encoding indices: 73472:73728
Encoding indices: 73728:73984
Encoding indices: 73984:74240
Encoding indices: 74240:74496
Encoding indices: 74496:74752
Encoding indices: 74752:75008
Encoding indices: 75008:75264
Encoding indices: 75264:75520
Encoding indices: 75520:75776
Encoding indices: 75776:76032
Encoding indices: 76032:76288
Encoding indices: 76288:76544
Encoding indices: 76544:76800
Encoding indices: 76800:77056
Encoding indices: 77056:77312
Encoding indices: 77312:77568
Encoding indices: 77568:77824
Encoding indices: 77824:78080
Encoding indices: 78080:78336
Encoding indices: 78336:78592
Encoding indices: 78592:78848
Encoding indices: 78848:79104
Encoding indices: 79104:79360
Encoding indices: 79360:79616
Encoding indices: 79616:79872
Encoding indices: 79872:80128
Encoding indices: 80128:80384
Encoding indices: 80384:80640
Encoding indices: 80640:80896
Encoding indices: 80896:81152
Encoding indices: 81152:81408
Encoding indices: 81408:81664
Encoding indices: 81664:81920
Encoding indices: 81920:82176
Encoding indices: 82176:82432
Encoding indices: 82432:82688
Encoding indices: 82688:82944
Encoding indices: 82944:83200
Encoding indices: 83200:83456
Encoding indices: 83456:83712
Encoding indices: 83712:83968
Encoding indices: 83968:84224
Encoding indices: 84224:84480
Encoding indices: 84480:84736
Encoding indices: 84736:84992
Encoding indices: 84992:85248
Encoding indices: 85248:85504
Encoding indices: 85504:85760
Encoding indices: 85760:86016
Encoding indices: 86016:86272
Encoding indices: 86272:86528
Encoding indices: 86528:86784
Encoding indices: 86784:87040
Encoding indices: 87040:87296
Encoding indices: 87296:87552
Encoding indices: 87552:87808
Encoding indices: 87808:88064
Encoding indices: 88064:88320
Encoding indices: 88320:88576
Encoding indices: 88576:88832
Encoding indices: 88832:89088
Encoding indices: 89088:89344
Encoding indices: 89344:89600
Encoding indices: 89600:89856
Encoding indices: 89856:90112
Encoding indices: 90112:90368
Encoding indices: 90368:90624
Encoding indices: 90624:90880
Encoding indices: 90880:91136
Encoding indices: 91136:91392
Encoding indices: 91392:91648
Encoding indices: 91648:91904
Encoding indices: 91904:92160
Encoding indices: 92160:92416
Encoding indices: 92416:92672
Encoding indices: 92672:92928
Encoding indices: 92928:93184
Encoding indices: 93184:93440
Encoding indices: 93440:93696
Encoding indices: 93696:93952
Encoding indices: 93952:94208
Encoding indices: 94208:94464
Encoding indices: 94464:94720
Encoding indices: 94720:94976
Encoding indices: 94976:95232
Encoding indices: 95232:95488
Encoding indices: 95488:95744
Encoding indices: 95744:96000
Encoding indices: 96000:96256
Encoding indices: 96256:96512
Encoding indices: 96512:96768
Encoding indices: 96768:97024
Encoding indices: 97024:97280
Encoding indices: 97280:97536
Encoding indices: 97536:97792
Encoding indices: 97792:98048
Encoding indices: 98048:98304
Encoding indices: 98304:98560
Encoding indices: 98560:98816
Encoding indices: 98816:99072
Encoding indices: 99072:99328
Encoding indices: 99328:99584
Encoding indices: 99584:99840
Encoding indices: 99840:100096
Encoding indices: 100096:100352
Encoding indices: 100352:100608
Encoding indices: 100608:100864
Encoding indices: 100864:101120
Encoding indices: 101120:101376
Encoding indices: 101376:101632
Encoding indices: 101632:101888
Encoding indices: 101888:102144
Encoding indices: 102144:102400
Encoding indices: 102400:102656
Encoding indices: 102656:102912

In [59]:
claims_embeddings.shape

torch.Size([102751, 768])

In [60]:
from transformers import DPRContextEncoder, DPRContextEncoderTokenizer

context_encoder = DPRContextEncoder.from_pretrained('facebook/dpr-ctx_encoder-multiset-base').to(device)
context_tokenizer = DPRContextEncoderTokenizer.from_pretrained('facebook/dpr-ctx_encoder-multiset-base')

def encode_contexts(contexts, batch_size=32):
    context_encoder.eval()
    context_embeddings = []

    for start_idx in range(0, len(contexts), batch_size):
        
        print(f"Encoding indices: {start_idx}:{start_idx+batch_size}")
        batch_contexts = contexts[start_idx:start_idx + batch_size]

        # Using batch_encode_plus for efficient tokenization
        inputs = context_tokenizer.batch_encode_plus(batch_contexts, return_tensors='pt', padding=True, truncation=True, max_length=512)

        # Move tokenized inputs to GPU
        inputs = {k: v.to(device) for k, v in inputs.items()}

        # Forward pass through the encoder
        with torch.no_grad():
            batch_embeddings = context_encoder(**inputs).pooler_output
        context_embeddings.append(batch_embeddings.cpu())
        
        # Clearing memory
        del inputs, batch_embeddings
        torch.cuda.empty_cache()

    return torch.cat(context_embeddings, dim=0)

Some weights of the model checkpoint at facebook/dpr-ctx_encoder-multiset-base were not used when initializing DPRContextEncoder: ['ctx_encoder.bert_model.pooler.dense.weight', 'ctx_encoder.bert_model.pooler.dense.bias']
- This IS expected if you are initializing DPRContextEncoder from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing DPRContextEncoder from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
The tokenizer class you load from this checkpoint is not the same type as the class this function is called from. It may result in unexpected tokenization.
The tokenizer class you load from this checkpoint is 'DPRQuestionEncoderTokenizer'.
The class this function is called from is 'DPRContextEncoderTokenizer'.

In [61]:
batch_size = 256
context_embeddings = encode_contexts(wiki_text, batch_size=batch_size)

Encoding indices: 0:256
Encoding indices: 256:512
Encoding indices: 512:768
Encoding indices: 768:1024
Encoding indices: 1024:1280
Encoding indices: 1280:1536
Encoding indices: 1536:1792
Encoding indices: 1792:2048
Encoding indices: 2048:2304
Encoding indices: 2304:2560
Encoding indices: 2560:2816
Encoding indices: 2816:3072
Encoding indices: 3072:3328
Encoding indices: 3328:3584
Encoding indices: 3584:3840
Encoding indices: 3840:4096
Encoding indices: 4096:4352
Encoding indices: 4352:4608
Encoding indices: 4608:4864
Encoding indices: 4864:5120
Encoding indices: 5120:5376
Encoding indices: 5376:5632
Encoding indices: 5632:5888
Encoding indices: 5888:6144
Encoding indices: 6144:6400
Encoding indices: 6400:6656
Encoding indices: 6656:6912
Encoding indices: 6912:7168
Encoding indices: 7168:7424
Encoding indices: 7424:7680
Encoding indices: 7680:7936
Encoding indices: 7936:8192
Encoding indices: 8192:8448
Encoding indices: 8448:8704
Encoding indices: 8704:8960
Encoding indices: 8960:9216
Encoding indices: 9216:9472
Encoding indices: 9472:9728

In [62]:
context_embeddings.shape

torch.Size([9530, 768])

In [63]:
claims_embeddings = claims_embeddings.to(device)
context_embeddings = context_embeddings.to(device)

In [64]:

def compute_similarity_in_batches(claims_embeddings, context_embeddings, batch_size=100):
    num_claims = claims_embeddings.size(0)
    num_contexts = context_embeddings.size(0)
    top_passages_indices = np.zeros(num_claims, dtype=int)
    
    for start_idx in range(0, num_claims, batch_size):
        end_idx = min(start_idx + batch_size, num_claims)
        print(f"Computing from {start_idx} : {end_idx}")
        batch_scores = torch.matmul(claims_embeddings[start_idx:end_idx], context_embeddings.T)

        # Compute top passages for the current batch and store the indices
        top_passages_batch = np.argmax(batch_scores.detach().cpu().numpy(), axis=1)
        
        top_passages_indices[start_idx:end_idx] = top_passages_batch
        
        # Clearing memory
        del batch_scores
        torch.cuda.empty_cache()

    return top_passages_indices

embeddings = compute_similarity_in_batches(claims_embeddings, context_embeddings, batch_size=100)

Computing from 0 : 100
Computing from 100 : 200
Computing from 200 : 300
Computing from 300 : 400
Computing from 400 : 500
Computing from 500 : 600
Computing from 600 : 700
Computing from 700 : 800
Computing from 800 : 900
Computing from 900 : 1000
Computing from 1000 : 1100
Computing from 1100 : 1200
Computing from 1200 : 1300
Computing from 1300 : 1400
Computing from 1400 : 1500
Computing from 1500 : 1600
Computing from 1600 : 1700
Computing from 1700 : 1800
Computing from 1800 : 1900
Computing from 1900 : 2000
Computing from 2000 : 2100
Computing from 2100 : 2200
Computing from 2200 : 2300
Computing from 2300 : 2400
Computing from 2400 : 2500
Computing from 2500 : 2600
Computing from 2600 : 2700
Computing from 2700 : 2800
Computing from 2800 : 2900
Computing from 2900 : 3000
Computing from 3000 : 3100
Computing from 3100 : 3200
Computing from 3200 : 3300
Computing from 3300 : 3400
Computing from 3400 : 3500
Computing from 3500 : 3600
Computing from 3600 : 3700
Computing from 3700 : 3800
Computing from 3800 : 3900
Computing from 3900 : 4000
Computing from 4000 : 4100
Computing from 4100 : 4200
Computing from 4200 : 4300
Computing from 4300 : 4400
Computing from 4400 : 4500
Computing from 4500 : 4600
Computing from 4600 : 4700
Computing from 4700 : 4800
Computing from 4800 : 4900
Computing from 4900 : 5000
Computing from 5000 : 5100
Computing from 5100 : 5200
Computing from 5200 : 5300
Computing from 5300 : 5400
Computing from 5400 : 5500
Computing from 5500 : 5600
Computing from 5600 : 5700
Computing from 5700 : 5800
Computing from 5800 : 5900
Computing from 5900 : 6000
Computing from 6000 : 6100
Computing from 6100 : 6200
Computing from 6200 : 6300
Computing from 6300 : 6400
Computing from 6400 : 6500
Computing from 6500 : 6600
Computing from 6600 : 6700
Computing from 6700 : 6800
Computing from 6800 : 6900
Computing from 6900 : 7000
Computing from 7000 : 7100
Computing from 7100 : 7200
Computing from 7200 : 7300
Computing from 7300 : 7400
Computing from 7400 : 7500
Computing from 7500 : 7600
Computing from 7600 : 7700
Computing from 7700 : 7800
Computing from 7800 : 7900
Computing from 7900 : 8000
Computing from 8000 : 8100
Computing from 8100 : 8200
Computing from 8200 : 8300
Computing from 8300 : 8400
Computing from 8400 : 8500
Computing from 8500 : 8600
Computing from 8600 : 8700
Computing from 8700 : 8800
Computing from 8800 : 8900
Computing from 8900 : 9000
Computing from 9000 : 9100
Computing from 9100 : 9200
Computing from 9200 : 9300
Computing from 9300 : 9400
Computing from 9400 : 9500
Computing from 9500 : 9600
Computing from 9600 : 9700
Computing from 9700 : 9800
Computing from 9800 : 9900
Computing from 9900 : 10000
Computing from 10000 : 10100
Computing from 10100 : 10200
Computing from 10200 : 10300
Computing from 10300 : 10400
Computing from 10400 : 10500
Computing from 10500 : 10600
Computing from 10600 : 10700
Computing from 10700 : 10800
Computing from 10800 : 10900
Computing from 10900 : 11000
Computing from 11000 : 11100
Computing from 11100 : 11200
Computing from 11200 : 11300
Computing from 11300 : 11400
Computing from 11400 : 11500
Computing from 11500 : 11600
Computing from 11600 : 11700
Computing from 11700 : 11800
Computing from 11800 : 11900
Computing from 11900 : 12000
Computing from 12000 : 12100
Computing from 12100 : 12200
Computing from 12200 : 12300
Computing from 12300 : 12400
Computing from 12400 : 12500
Computing from 12500 : 12600
Computing from 12600 : 12700
Computing from 12700 : 12800
Computing from 12800 : 12900
Computing from 12900 : 13000
Computing from 13000 : 13100
Computing from 13100 : 13200
Computing from 13200 : 13300
Computing from 13300 : 13400
Computing from 13400 : 13500
Computing from 13500 : 13600
Computing from 13600 : 13700
Computing from 13700 : 13800
Computing from 13800 : 13900
Computing from 13900 : 14000
Computing from 14000 : 14100
Computing from 14100 : 14200
Computing from 14200 : 14300
Computing from 14300 : 14400
Computing from 14400 : 14500
Computing from 14500 : 14600
Computing from 14600 : 14700
Computing from 14700 : 14800
Computing from 14800 : 14900
Computing from 14900 : 15000
Computing from 15000 : 15100
Computing from 15100 : 15200
Computing from 15200 : 15300
Computing from 15300 : 15400
Computing from 15400 : 15500
Computing from 15500 : 15600
Computing from 15600 : 15700
Computing from 15700 : 15800
Computing from 15800 : 15900
Computing from 15900 : 16000
Computing from 16000 : 16100
Computing from 16100 : 16200
Computing from 16200 : 16300
Computing from 16300 : 16400
Computing from 16400 : 16500
Computing from 16500 : 16600
Computing from 16600 : 16700
Computing from 16700 : 16800
Computing from 16800 : 16900
Computing from 16900 : 17000
Computing from 17000 : 17100
Computing from 17100 : 17200
Computing from 17200 : 17300
Computing from 17300 : 17400
Computing from 17400 : 17500
Computing from 17500 : 17600
Computing from 17600 : 17700
Computing from 17700 : 17800
Computing from 17800 : 17900
Computing from 17900 : 18000
Computing from 18000 : 18100
Computing from 18100 : 18200
Computing from 18200 : 18300
Computing from 18300 : 18400
Computing from 18400 : 18500
Computing from 18500 : 18600
Computing from 18600 : 18700
Computing from 18700 : 18800
Computing from 18800 : 18900
Computing from 18900 : 19000
Computing from 19000 : 19100
Computing from 19100 : 19200
Computing from 19200 : 19300
Computing from 19300 : 19400
Computing from 19400 : 19500
Computing from 19500 : 19600
Computing from 19600 : 19700
Computing from 19700 : 19800
Computing from 19800 : 19900
Computing from 19900 : 20000
Computing from 20000 : 20100
Computing from 20100 : 20200
Computing from 20200 : 20300
Computing from 20300 : 20400
Computing from 20400 : 20500
Computing from 20500 : 20600
Computing from 20600 : 20700
Computing from 20700 : 20800
Computing from 20800 : 20900
Computing from 20900 : 21000
Computing from 21000 : 21100
Computing from 21100 : 21200
Computing from 21200 : 21300
Computing from 21300 : 21400
Computing from 21400 : 21500
Computing from 21500 : 21600
Computing from 21600 : 21700
Computing from 21700 : 21800
Computing from 21800 : 21900
Computing from 21900 : 22000
Computing from 22000 : 22100
Computing from 22100 : 22200
Computing from 22200 : 22300
Computing from 22300 : 22400
Computing from 22400 : 22500
Computing from 22500 : 22600
Computing from 22600 : 22700
Computing from 22700 : 22800
Computing from 22800 : 22900
Computing from 22900 : 23000
Computing from 23000 : 23100
Computing from 23100 : 23200
Computing from 23200 : 23300
Computing from 23300 : 23400
Computing from 23400 : 23500
Computing from 23500 : 23600
Computing from 23600 : 23700
Computing from 23700 : 23800
Computing from 23800 : 23900
Computing from 23900 : 24000
Computing from 24000 : 24100
Computing from 24100 : 24200
Computing from 24200 : 24300
Computing from 24300 : 24400
Computing from 24400 : 24500
Computing from 24500 : 24600
Computing from 24600 : 24700
Computing from 24700 : 24800
Computing from 24800 : 24900
Computing from 24900 : 25000
Computing from 25000 : 25100
Computing from 25100 : 25200
Computing from 25200 : 25300
Computing from 25300 : 25400
Computing from 25400 : 25500
Computing from 25500 : 25600
Computing from 25600 : 25700
Computing from 25700 : 25800
Computing from 25800 : 25900
Computing from 25900 : 26000
Computing from 26000 : 26100
Computing from 26100 : 26200
Computing from 26200 : 26300
Computing from 26300 : 26400
Computing from 26400 : 26500
Computing from 26500 : 26600
Computing from 26600 : 26700
Computing from 26700 : 26800
Computing from 26800 : 26900
Computing from 26900 : 27000
Computing from 27000 : 27100
Computing from 27100 : 27200
Computing from 27200 : 27300
Computing from 27300 : 27400
Computing from 27400 : 27500
Computing from 27500 : 27600
Computing from 27600 : 27700
Computing from 27700 : 27800
Computing from 27800 : 27900
Computing from 27900 : 28000
Computing from 28000 : 28100
Computing from 28100 : 28200
Computing from 28200 : 28300
Computing from 28300 : 28400
Computing from 28400 : 28500
Computing from 28500 : 28600
Computing from 28600 : 28700
Computing from 28700 : 28800
Computing from 28800 : 28900
Computing from 28900 : 29000
Computing from 29000 : 29100
Computing from 29100 : 29200
Computing from 29200 : 29300
Computing from 29300 : 29400
Computing from 29400 : 29500
Computing from 29500 : 29600
Computing from 29600 : 29700
Computing from 29700 : 29800
Computing from 29800 : 29900
Computing from 29900 : 30000
Computing from 30000 : 30100
Computing from 30100 : 30200
Computing from 30200 : 30300
Computing from 30300 : 30400
Computing from 30400 : 30500
Computing from 30500 : 30600
Computing from 30600 : 30700
Computing from 30700 : 30800
Computing from 30800 : 30900
Computing from 30900 : 31000
Computing from 31000 : 31100
Computing from 31100 : 31200
Computing from 31200 : 31300
Computing from 31300 : 31400
Computing from 31400 : 31500
Computing from 31500 : 31600
Computing from 31600 : 31700
Computing from 31700 : 31800
Computing from 31800 : 31900
Computing from 31900 : 32000
Computing from 32000 : 32100
Computing from 32100 : 32200
Computing from 32200 : 32300
Computing from 32300 : 32400
Computing from 32400 : 32500
Computing from 32500 : 32600
Computing from 32600 : 32700
Computing from 32700 : 32800
Computing from 32800 : 32900
Computing from 32900 : 33000
Computing from 33000 : 33100
Computing from 33100 : 33200
Computing from 33200 : 33300
Computing from 33300 : 33400
Computing from 33400 : 33500
Computing from 33500 : 33600
Computing from 33600 : 33700
Computing from 33700 : 33800
Computing from 33800 : 33900
Computing from 33900 : 34000
Computing from 34000 : 34100
Computing from 34100 : 34200
Computing from 34200 : 34300
Computing from 34300 : 34400
Computing from 34400 : 34500
Computing from 34500 : 34600
Computing from 34600 : 34700
Computing from 34700 : 34800
Computing from 34800 : 34900
Computing from 34900 : 35000
Computing from 35000 : 35100
Computing from 35100 : 35200
Computing from 35200 : 35300
Computing from 35300 : 35400
Computing from 35400 : 35500
Computing from 35500 : 35600
Computing from 35600 : 35700
Computing from 35700 : 35800
Computing from 35800 : 35900
Computing from 35900 : 36000
Computing from 36000 : 36100
Computing from 36100 : 36200
Computing from 36200 : 36300
Computing from 36300 : 36400
Computing from 36400 : 36500
Computing from 36500 : 36600
Computing from 36600 : 36700
Computing from 36700 : 36800
Computing from 36800 : 36900
Computing from 36900 : 37000
Computing from 37000 : 37100
Computing from 37100 : 37200
Computing from 37200 : 37300
Computing from 37300 : 37400
Computing from 37400 : 37500
Computing from 37500 : 37600
Computing from 37600 : 37700
Computing from 37700 : 37800
Computing from 37800 : 37900
Computing from 37900 : 38000
Computing from 38000 : 38100
Computing from 38100 : 38200
Computing from 38200 : 38300
Computing from 38300 : 38400
Computing from 38400 : 38500
Computing from 38500 : 38600
Computing from 38600 : 38700
Computing from 38700 : 38800
Computing from 38800 : 38900
Computing from 38900 : 39000
Computing from 39000 : 39100
Computing from 39100 : 39200
Computing from 39200 : 39300
Computing from 39300 : 39400
Computing from 39400 : 39500
Computing from 39500 : 39600
Computing from 39600 : 39700
Computing from 39700 : 39800
Computing from 39800 : 39900
Computing from 39900 : 40000
Computing from 40000 : 40100
Computing from 40100 : 40200
Computing from 40200 : 40300
Computing from 40300 : 40400
Computing from 40400 : 40500
Computing from 40500 : 40600
Computing from 40600 : 40700
Computing from 40700 : 40800
Computing from 40800 : 40900
Computing from 40900 : 41000
Computing from 41000 : 41100
Computing from 41100 : 41200
Computing from 41200 : 41300
Computing from 41300 : 41400
Computing from 41400 : 41500
Computing from 41500 : 41600
Computing from 41600 : 41700
Computing from 41700 : 41800
Computing from 41800 : 41900
Computing from 41900 : 42000
Computing from 42000 : 42100
Computing from 42100 : 42200
Computing from 42200 : 42300
Computing from 42300 : 42400
Computing from 42400 : 42500
Computing from 42500 : 42600
Computing from 42600 : 42700
Computing from 42700 : 42800
Computing from 42800 : 42900
Computing from 42900 : 43000
Computing from 43000 : 43100
Computing from 43100 : 43200
Computing from 43200 : 43300
Computing from 43300 : 43400
Computing from 43400 : 43500
Computing from 43500 : 43600
Computing from 43600 : 43700
Computing from 43700 : 43800
Computing from 43800 : 43900
Computing from 43900 : 44000
Computing from 44000 : 44100
Computing from 44100 : 44200
Computing from 44200 : 44300
Computing from 44300 : 44400
Computing from 44400 : 44500
Computing from 44500 : 44600
Computing from 44600 : 44700
Computing from 44700 : 44800
Computing from 44800 : 44900
Computing from 44900 : 45000
Computing from 45000 : 45100
Computing from 45100 : 45200
Computing from 45200 : 45300
Computing from 45300 : 45400
Computing from 45400 : 45500
Computing from 45500 : 45600
Computing from 45600 : 45700
Computing from 45700 : 45800
Computing from 45800 : 45900
Computing from 45900 : 46000
Computing from 46000 : 46100
Computing from 46100 : 46200
Computing from 46200 : 46300
Computing from 46300 : 46400
Computing from 46400 : 46500
Computing from 46500 : 46600
Computing from 46600 : 46700
Computing from 46700 : 46800
Computing from 46800 : 46900
Computing from 46900 : 47000
Computing from 47000 : 47100
Computing from 47100 : 47200
Computing from 47200 : 47300
Computing from 47300 : 47400
Computing from 47400 : 47500
Computing from 47500 : 47600
Computing from 47600 : 47700
Computing from 47700 : 47800
Computing from 47800 : 47900
Computing from 47900 : 48000
Computing from 48000 : 48100
Computing from 48100 : 48200
Computing from 48200 : 48300
Computing from 48300 : 48400
Computing from 48400 : 48500
Computing from 48500 : 48600
Computing from 48600 : 48700
Computing from 48700 : 48800
Computing from 48800 : 48900
Computing from 48900 : 49000
Computing from 49000 : 49100
Computing from 49100 : 49200
Computing from 49200 : 49300
Computing from 49300 : 49400
Computing from 49400 : 49500
Computing from 49500 : 49600
Computing from 49600 : 49700
Computing from 49700 : 49800
Computing from 49800 : 49900
Computing from 49900 : 50000
Computing from 50000 : 50100
Computing from 50100 : 50200
Computing from 50200 : 50300
Computing from 50300 : 50400
Computing from 50400 : 50500
Computing from 50500 : 50600
Computing from 50600 : 50700
Computing from 50700 : 50800
Computing from 50800 : 50900
Computing from 50900 : 51000
Computing from 51000 : 51100
Computing from 51100 : 51200
Computing from 51200 : 51300
Computing from 51300 : 51400
Computing from 51400 : 51500
Computing from 51500 : 51600
Computing from 51600 : 51700
Computing from 51700 : 51800
Computing from 51800 : 51900
Computing from 51900 : 52000
Computing from 52000 : 52100
Computing from 52100 : 52200
Computing from 52200 : 52300
Computing from 52300 : 52400
Computing from 52400 : 52500
Computing from 52500 : 52600
Computing from 52600 : 52700
Computing from 52700 : 52800
Computing from 52800 : 52900
Computing from 52900 : 53000
Computing from 53000 : 53100
Computing from 53100 : 53200
Computing from 53200 : 53300
Computing from 53300 : 53400
Computing from 53400 : 53500
Computing from 53500 : 53600
Computing from 53600 : 53700
Computing from 53700 : 53800
Computing from 53800 : 53900
Computing from 53900 : 54000
Computing from 54000 : 54100
Computing from 54100 : 54200
Computing from 54200 : 54300
Computing from 54300 : 54400
Computing from 54400 : 54500
Computing from 54500 : 54600
Computing from 54600 : 54700
Computing from 54700 : 54800
Computing from 54800 : 54900
Computing from 54900 : 55000
Computing from 55000 : 55100
Computing from 55100 : 55200
Computing from 55200 : 55300
Computing from 55300 : 55400
Computing from 55400 : 55500
Computing from 55500 : 55600
Computing from 55600 : 55700
Computing from 55700 : 55800
Computing from 55800 : 55900
Computing from 55900 : 56000

Computing from 56000 : 56100
Computing from 56100 : 56200
Computing from 56200 : 56300
Computing from 56300 : 56400
Computing from 56400 : 56500
Computing from 56500 : 56600
Computing from 56600 : 56700
Computing from 56700 : 56800
Computing from 56800 : 56900
Computing from 56900 : 57000
Computing from 57000 : 57100
Computing from 57100 : 57200
Computing from 57200 : 57300
Computing from 57300 : 57400
Computing from 57400 : 57500
Computing from 57500 : 57600
Computing from 57600 : 57700
Computing from 57700 : 57800
Computing from 57800 : 57900
Computing from 57900 : 58000
Computing from 58000 : 58100
Computing from 58100 : 58200
Computing from 58200 : 58300
Computing from 58300 : 58400
Computing from 58400 : 58500
Computing from 58500 : 58600
Computing from 58600 : 58700
Computing from 58700 : 58800
Computing from 58800 : 58900
Computing from 58900 : 59000
Computing from 59000 : 59100
Computing from 59100 : 59200
Computing from 59200 : 59300
Computing from 59300 : 59400
Computing from 59400 : 59500
Computing from 59500 : 59600
Computing from 59600 : 59700
Computing from 59700 : 59800
Computing from 59800 : 59900
Computing from 59900 : 60000
Computing from 60000 : 60100
Computing from 60100 : 60200
Computing from 60200 : 60300
Computing from 60300 : 60400
Computing from 60400 : 60500
Computing from 60500 : 60600
Computing from 60600 : 60700
Computing from 60700 : 60800
Computing from 60800 : 60900
Computing from 60900 : 61000
Computing from 61000 : 61100
Computing from 61100 : 61200
Computing from 61200 : 61300
Computing from 61300 : 61400
Computing from 61400 : 61500
Computing from 61500 : 61600
Computing from 61600 : 61700
Computing from 61700 : 61800
Computing from 61800 : 61900
Computing from 61900 : 62000
Computing from 62000 : 62100
Computing from 62100 : 62200
Computing from 62200 : 62300
Computing from 62300 : 62400
Computing from 62400 : 62500
Computing from 62500 : 62600
Computing from 62600 : 62700
Computing from 62700 : 62800
Computing from 62800 : 62900
Computing from 62900 : 63000
Computing from 63000 : 63100
Computing from 63100 : 63200
Computing from 63200 : 63300
Computing from 63300 : 63400
Computing from 63400 : 63500
Computing from 63500 : 63600
Computing from 63600 : 63700
Computing from 63700 : 63800
Computing from 63800 : 63900
Computing from 63900 : 64000
Computing from 64000 : 64100
Computing from 64100 : 64200
Computing from 64200 : 64300
Computing from 64300 : 64400
Computing from 64400 : 64500
Computing from 64500 : 64600
Computing from 64600 : 64700
Computing from 64700 : 64800
Computing from 64800 : 64900
Computing from 64900 : 65000
Computing from 65000 : 65100
Computing from 65100 : 65200
Computing from 65200 : 65300
Computing from 65300 : 65400
Computing from 65400 : 65500
Computing from 65500 : 65600
Computing from 65600 : 65700
Computing from 65700 : 65800
Computing from 65800 : 65900
Computing from 65900 : 66000
Computing from 66000 : 66100
Computing from 66100 : 66200
Computing from 66200 : 66300
Computing from 66300 : 66400
Computing from 66400 : 66500
Computing from 66500 : 66600
Computing from 66600 : 66700
Computing from 66700 : 66800
Computing from 66800 : 66900
Computing from 66900 : 67000
Computing from 67000 : 67100
Computing from 67100 : 67200
Computing from 67200 : 67300
Computing from 67300 : 67400
Computing from 67400 : 67500
Computing from 67500 : 67600
Computing from 67600 : 67700
Computing from 67700 : 67800
Computing from 67800 : 67900
Computing from 67900 : 68000
Computing from 68000 : 68100
Computing from 68100 : 68200
Computing from 68200 : 68300
Computing from 68300 : 68400
Computing from 68400 : 68500
Computing from 68500 : 68600
Computing from 68600 : 68700
Computing from 68700 : 68800
Computing from 68800 : 68900
Computing from 68900 : 69000
Computing from 69000 : 69100
Computing from 69100 : 69200
Computing from 69200 : 69300
Computing from 69300 : 69400
Computing from 69400 : 69500
Computing from 69500 : 69600
Computing from 69600 : 69700
Computing from 69700 : 69800
Computing from 69800 : 69900
Computing from 69900 : 70000
Computing from 70000 : 70100
Computing from 70100 : 70200
Computing from 70200 : 70300
Computing from 70300 : 70400
Computing from 70400 : 70500
Computing from 70500 : 70600
Computing from 70600 : 70700
Computing from 70700 : 70800
Computing from 70800 : 70900
Computing from 70900 : 71000
Computing from 71000 : 71100
Computing from 71100 : 71200
Computing from 71200 : 71300
Computing from 71300 : 71400
Computing from 71400 : 71500
Computing from 71500 : 71600
Computing from 71600 : 71700
Computing from 71700 : 71800
Computing from 71800 : 71900
Computing from 71900 : 72000
Computing from 72000 : 72100
Computing from 72100 : 72200
Computing from 72200 : 72300
Computing from 72300 : 72400
Computing from 72400 : 72500
Computing from 72500 : 72600
Computing from 72600 : 72700
Computing from 72700 : 72800
Computing from 72800 : 72900
Computing from 72900 : 73000
Computing from 73000 : 73100
Computing from 73100 : 73200
Computing from 73200 : 73300
Computing from 73300 : 73400
Computing from 73400 : 73500
Computing from 73500 : 73600
Computing from 73600 : 73700
Computing from 73700 : 73800
Computing from 73800 : 73900
Computing from 73900 : 74000
Computing from 74000 : 74100
Computing from 74100 : 74200
Computing from 74200 : 74300
Computing from 74300 : 74400
Computing from 74400 : 74500
Computing from 74500 : 74600
Computing from 74600 : 74700
Computing from 74700 : 74800
Computing from 74800 : 74900
Computing from 74900 : 75000
Computing from 75000 : 75100
Computing from 75100 : 75200
Computing from 75200 : 75300
Computing from 75300 : 75400
Computing from 75400 : 75500
Computing from 75500 : 75600
Computing from 75600 : 75700
Computing from 75700 : 75800
Computing from 75800 : 75900
Computing from 75900 : 76000
Computing from 76000 : 76100
Computing from 76100 : 76200
Computing from 76200 : 76300
Computing from 76300 : 76400
Computing from 76400 : 76500
Computing from 76500 : 76600
Computing from 76600 : 76700
Computing from 76700 : 76800
Computing from 76800 : 76900
Computing from 76900 : 77000
Computing from 77000 : 77100
Computing from 77100 : 77200
Computing from 77200 : 77300
Computing from 77300 : 77400
Computing from 77400 : 77500
Computing from 77500 : 77600
Computing from 77600 : 77700
Computing from 77700 : 77800
Computing from 77800 : 77900
Computing from 77900 : 78000
Computing from 78000 : 78100
Computing from 78100 : 78200
Computing from 78200 : 78300
Computing from 78300 : 78400
Computing from 78400 : 78500
Computing from 78500 : 78600
Computing from 78600 : 78700
Computing from 78700 : 78800
Computing from 78800 : 78900
Computing from 78900 : 79000
Computing from 79000 : 79100
Computing from 79100 : 79200
Computing from 79200 : 79300
Computing from 79300 : 79400
Computing from 79400 : 79500
Computing from 79500 : 79600
Computing from 79600 : 79700
Computing from 79700 : 79800
Computing from 79800 : 79900
Computing from 79900 : 80000
Computing from 80000 : 80100
Computing from 80100 : 80200
Computing from 80200 : 80300
Computing from 80300 : 80400
Computing from 80400 : 80500
Computing from 80500 : 80600
Computing from 80600 : 80700
Computing from 80700 : 80800
Computing from 80800 : 80900
Computing from 80900 : 81000
Computing from 81000 : 81100
Computing from 81100 : 81200
Computing from 81200 : 81300
Computing from 81300 : 81400
Computing from 81400 : 81500
Computing from 81500 : 81600
Computing from 81600 : 81700
Computing from 81700 : 81800
Computing from 81800 : 81900
Computing from 81900 : 82000
Computing from 82000 : 82100
Computing from 82100 : 82200
Computing from 82200 : 82300
Computing from 82300 : 82400
Computing from 82400 : 82500
Computing from 82500 : 82600
Computing from 82600 : 82700
Computing from 82700 : 82800
Computing from 82800 : 82900
Computing from 82900 : 83000
Computing from 83000 : 83100
Computing from 83100 : 83200
Computing from 83200 : 83300
Computing from 83300 : 83400
Computing from 83400 : 83500
Computing from 83500 : 83600
Computing from 83600 : 83700
Computing from 83700 : 83800
Computing from 83800 : 83900
Computing from 83900 : 84000
Computing from 84000 : 84100
Computing from 84100 : 84200
Computing from 84200 : 84300
Computing from 84300 : 84400
Computing from 84400 : 84500
Computing from 84500 : 84600
Computing from 84600 : 84700
Computing from 84700 : 84800
Computing from 84800 : 84900
Computing from 84900 : 85000
Computing from 85000 : 85100
Computing from 85100 : 85200
Computing from 85200 : 85300
Computing from 85300 : 85400
Computing from 85400 : 85500
Computing from 85500 : 85600
Computing from 85600 : 85700
Computing from 85700 : 85800
Computing from 85800 : 85900
Computing from 85900 : 86000
Computing from 86000 : 86100
Computing from 86100 : 86200
Computing from 86200 : 86300
Computing from 86300 : 86400
Computing from 86400 : 86500
Computing from 86500 : 86600
Computing from 86600 : 86700
Computing from 86700 : 86800
Computing from 86800 : 86900
Computing from 86900 : 87000
Computing from 87000 : 87100
Computing from 87100 : 87200
Computing from 87200 : 87300
Computing from 87300 : 87400
Computing from 87400 : 87500
Computing from 87500 : 87600
Computing from 87600 : 87700
Computing from 87700 : 87800
Computing from 87800 : 87900
Computing from 87900 : 88000
Computing from 88000 : 88100
Computing from 88100 : 88200
Computing from 88200 : 88300
Computing from 88300 : 88400
Computing from 88400 : 88500
Computing from 88500 : 88600
Computing from 88600 : 88700
Computing from 88700 : 88800
Computing from 88800 : 88900
Computing from 88900 : 89000
Computing from 89000 : 89100
Computing from 89100 : 89200
Computing from 89200 : 89300
Computing from 89300 : 89400
Computing from 89400 : 89500
Computing from 89500 : 89600
Computing from 89600 : 89700
Computing from 89700 : 89800
Computing from 89800 : 89900
Computing from 89900 : 90000
Computing from 90000 : 90100
Computing from 90100 : 90200
Computing from 90200 : 90300
Computing from 90300 : 90400
Computing from 90400 : 90500
Computing from 90500 : 90600
Computing from 90600 : 90700
Computing from 90700 : 90800
Computing from 90800 : 90900
Computing from 90900 : 91000
Computing from 91000 : 91100
Computing from 91100 : 91200
Computing from 91200 : 91300
Computing from 91300 : 91400
Computing from 91400 : 91500
Computing from 91500 : 91600
Computing from 91600 : 91700
Computing from 91700 : 91800
Computing from 91800 : 91900
Computing from 91900 : 92000
Computing from 92000 : 92100
Computing from 92100 : 92200
Computing from 92200 : 92300
Computing from 92300 : 92400
Computing from 92400 : 92500
Computing from 92500 : 92600
Computing from 92600 : 92700
Computing from 92700 : 92800
Computing from 92800 : 92900
Computing from 92900 : 93000
Computing from 93000 : 93100
Computing from 93100 : 93200
Computing from 93200 : 93300
Computing from 93300 : 93400
Computing from 93400 : 93500
Computing from 93500 : 93600
Computing from 93600 : 93700
Computing from 93700 : 93800
Computing from 93800 : 93900
Computing from 93900 : 94000
Computing from 94000 : 94100
Computing from 94100 : 94200
Computing from 94200 : 94300
Computing from 94300 : 94400
Computing from 94400 : 94500
Computing from 94500 : 94600
Computing from 94600 : 94700
Computing from 94700 : 94800
Computing from 94800 : 94900
Computing from 94900 : 95000
Computing from 95000 : 95100
Computing from 95100 : 95200
Computing from 95200 : 95300
Computing from 95300 : 95400
Computing from 95400 : 95500
Computing from 95500 : 95600
Computing from 95600 : 95700
Computing from 95700 : 95800
Computing from 95800 : 95900
Computing from 95900 : 96000
Computing from 96000 : 96100
Computing from 96100 : 96200
Computing from 96200 : 96300
Computing from 96300 : 96400
Computing from 96400 : 96500
Computing from 96500 : 96600
Computing from 96600 : 96700
Computing from 96700 : 96800
Computing from 96800 : 96900
Computing from 96900 : 97000
Computing from 97000 : 97100
Computing from 97100 : 97200
Computing from 97200 : 97300
Computing from 97300 : 97400
Computing from 97400 : 97500
Computing from 97500 : 97600
Computing from 97600 : 97700
Computing from 97700 : 97800
Computing from 97800 : 97900
Computing from 97900 : 98000
Computing from 98000 : 98100
Computing from 98100 : 98200
Computing from 98200 : 98300
Computing from 98300 : 98400
Computing from 98400 : 98500
Computing from 98500 : 98600
Computing from 98600 : 98700
Computing from 98700 : 98800
Computing from 98800 : 98900
Computing from 98900 : 99000
Computing from 99000 : 99100
Computing from 99100 : 99200
Computing from 99200 : 99300
Computing from 99300 : 99400
Computing from 99400 : 99500
Computing from 99500 : 99600
Computing from 99600 : 99700
Computing from 99700 : 99800
Computing from 99800 : 99900
Computing from 99900 : 100000
Computing from 100000 : 100100
Computing from 100100 : 100200
Computing from 100200 : 100300
Computing from 100300 : 100400
Computing from 100400 : 100500
Computing from 100500 : 100600
Computing from 100600 : 100700
Computing from 100700 : 100800
Computing from 100800 : 100900
Computing from 100900 : 101000
Computing from 101000 : 101100
Computing from 101100 : 101200
Computing from 101200 : 101300
Computing from 101300 : 101400
Computing from 101400 : 101500
Computing from 101500 : 101600
Computing from 101600 : 101700
Computing from 101700 : 101800
Computing from 101800 : 101900
Computing from 101900 : 102000
Computing from 102000 : 102100
Computing from 102100 : 102200
Computing from 102200 : 102300
Computing from 102300 : 102400
Computing from 102400 : 102500
Computing from 102500 : 102600
Computing from 102600 : 102700
Computing from 102700 : 102751

In [65]:
len(embeddings)

102751

In [66]:
print(min(embeddings), max(embeddings))

1 9529

In [33]:
merged_df.head()

,claim_id,label,claim,wiki_title,wiki_index,wiki_text
0,75397,SUPPORTS,nikolaj coster waldau worked with the fox broa...,Nikolaj_Coster-Waldau,3508521,nikolaj coster waldau lrb lsb ne ola k sd ald ...
1,58718,REFUTES,nikolaj coster waldau was not in a danish thri...,Nikolaj_Coster-Waldau,3508521,nikolaj coster waldau lrb lsb ne ola k sd ald ...
2,134655,SUPPORTS,nikolaj coster waldau worked with peter dinklage,Nikolaj_Coster-Waldau,3508521,nikolaj coster waldau lrb lsb ne ola k sd ald ...
3,86306,REFUTES,nikolaj coster waldau refused to ever work wit...,Nikolaj_Coster-Waldau,3508521,nikolaj coster waldau lrb lsb ne ola k sd ald ...
4,149361,SUPPORTS,nikolaj coster waldau was in a film,Nikolaj_Coster-Waldau,3508521,nikolaj coster waldau lrb lsb ne ola k sd ald ...

In [120]:
wiki_df.head()

,claim_index,wiki_index,wiki_text
0,0,3508521,nikolaj coster waldau lrb lsb ne ola k sd ald ...
33,33,1736417,the fox broadcasting company lrb often shorten...
52,52,2247952,the history of art is the history of any activ...
88,88,264220,adrienne eliza houghton lrb n e bailon born oc...
121,121,2251350,homeland is an american spy thriller televisio...

In [ ]:
merged_df.iloc[i]['wiki_text']

In [121]:
for i, claim in enumerate(claims[:10]):
    similar_context_index = embeddings[i]
    wiki_passage = wiki_df.iloc[similar_context_index]['wiki_text']

    print(f"Claim: {claim}")
    print(f"Most similar context: {wiki_passage}")
    print(f"Actual: {merged_df.iloc[i]['wiki_text']}\n\n")

Claim: nikolaj coster waldau worked with the fox broadcasting company
Most similar context: an electric car is an automobile that is propelled by one or more electric motors using electrical energy stored in rechargeable batteries or another energy storage device electric motors give electric cars instant torque creating strong and smooth acceleration they are also around three times as efficient as cars with an internal combustion engine the first practical electric cars were produced in the 1880s electric cars were popular in the late 19th century and early 20th century until advances in internal combustion engines electric starters in particular and mass production of cheaper gasoline vehicles led to a decline in the use of electric drive vehicles since 2008 a renaissance in electric vehicle manufacturing has occurred due to advances in batteries and energy management concerns about increasing oil prices and the need to reduce greenhouse gas emissions several national and local governments have established tax credits subsidies and other incentives to promote the introduction and now adoption in the mass market of new electric vehicles depending on battery size and their all electric range electric cars are significantly quieter than conventional internal combustion engine automobiles they do not emit tailpipe pollutants giving a large reduction of local air pollution and can give a significant reduction in total greenhouse gas and other emissions lrb dependent on the method used for electricity generation rrb they also provide for independence from foreign oil which in several countries is cause for concern about vulnerability to oil price volatility and supply disruption recharging can take a long time and in many places there is a patchy recharging infrastructure for long distance driving many cars support fast charging that can give around 80 charge in half an hour using public rapid chargers while battery cost is decreasing fairly rapidly it is still relatively high and because of this most electric cars have a more limited range and a somewhat higher purchase cost than conventional vehicles drivers can also sometimes suffer from range anxiety the fear that the batteries will be depleted before reaching their destination there were over 30 models of highway legal all electric passenger cars and utility vans available for retail sales mainly in the north america china japan and western european countries cumulative global sales of highway capable light duty pure electric vehicles passed the one million unit milestone in september 2016 about 61 of the global stock of 2 million light duty plug in electric vehicles by the end of 2016 were pure electric cars and vans the world s all time top selling highway capable electric car is the nissan leaf released in december 2010 with more than 250 000 units sold worldwide through december 2016 the tesla model s released in june 2012 ranks second with global sales of over 158 000 units through december 2016 the model s has been the world s top selling plug in car for two years in a row 2015 and 2016
Actual: nikolaj coster waldau lrb lsb ne ola k sd ald rsb born 27 july 1970 rrb is a danish actor producer and screenwriter he graduated from danish national school of theatre in copenhagen in 1993 coster waldau s breakthrough performance in denmark was his role in the film nightwatch lrb 1994 rrb since then he has appeared in numerous films in his native scandinavia and europe in general including headhunters lrb 2011 rrb and a thousand times good night lrb 2013 rrb in the united states his debut film role was in the war film black hawk down lrb 2001 rrb playing medal of honor recipient gary gordon he then played detective john amsterdam in the short lived fox television series new amsterdam lrb 2008 rrb as well as appearing as frank pike in the 2009 fox television film virtuality originally intended as a pilot he became widely known to a broad audience for his current role as ser jaime lannister in the hbo series game of thrones in 2017 he became one of the highest paid actors on television and earned 2 million per episode of game of thrones


Claim: nikolaj coster waldau was not in a danish thriller film
Most similar context: hungary has 3 152 localities as of july 1 2009 328 towns lrb hungarian term v ros plural v rosok the terminology does n t distinguish between cities and towns the term town is used in official translations rrb and 2 824 villages lrb hungarian k zs g plural k zs gek rrb the number of towns can change since villages can be elevated to town status by act of the president the capital budapest has a special status and is not included in any county while 23 of the towns are so called urban counties lrb megyei jog v ros town with county rights rrb all county seats except budapest are urban counties four of the cities lrb budapest miskolc gy r and p cs rrb have agglomerations and the hungarian statistical office distinguishes seventeen other areas in earlier stages of agglomeration development the largest city is the capital budapest the smallest town is p lh za with 1038 inhabitants lrb 2010 rrb the largest village is solym r lrb population 10 123 as of 2010 rrb there are more than 100 villages with fewer than 100 inhabitants while the smallest villages have fewer than 20 inhabitants
Actual: nikolaj coster waldau lrb lsb ne ola k sd ald rsb born 27 july 1970 rrb is a danish actor producer and screenwriter he graduated from danish national school of theatre in copenhagen in 1993 coster waldau s breakthrough performance in denmark was his role in the film nightwatch lrb 1994 rrb since then he has appeared in numerous films in his native scandinavia and europe in general including headhunters lrb 2011 rrb and a thousand times good night lrb 2013 rrb in the united states his debut film role was in the war film black hawk down lrb 2001 rrb playing medal of honor recipient gary gordon he then played detective john amsterdam in the short lived fox television series new amsterdam lrb 2008 rrb as well as appearing as frank pike in the 2009 fox television film virtuality originally intended as a pilot he became widely known to a broad audience for his current role as ser jaime lannister in the hbo series game of thrones in 2017 he became one of the highest paid actors on television and earned 2 million per episode of game of thrones


Claim: nikolaj coster waldau worked with peter dinklage
Most similar context: alien covenant is a 2017 american science fiction horror film directed by ridley scott and written by john logan and dante harper with a story by michael green and jack paglen the film is a sequel to the 2012 film prometheus the second installment in the alien prequel series and the sixth installment overall in the alien film series as well as the third directed by scott the film stars michael fassbender katherine waterston billy crudup danny mcbride carmen ejogo and demi n bichir and follows the crew of a ship who land on an uncharted planet and make a terrifying discovery alien covenant premiered in london on may 4 2017 and was released in the united states on may 19 2017 the film received generally positive reviews with most critics praising fassbender s dual performance and noting it as a return to form for both director ridley scott and the franchise it has grossed 162 million worldwide
Actual: nikolaj coster waldau lrb lsb ne ola k sd ald rsb born 27 july 1970 rrb is a danish actor producer and screenwriter he graduated from danish national school of theatre in copenhagen in 1993 coster waldau s breakthrough performance in denmark was his role in the film nightwatch lrb 1994 rrb since then he has appeared in numerous films in his native scandinavia and europe in general including headhunters lrb 2011 rrb and a thousand times good night lrb 2013 rrb in the united states his debut film role was in the war film black hawk down lrb 2001 rrb playing medal of honor recipient gary gordon he then played detective john amsterdam in the short lived fox television series new amsterdam lrb 2008 rrb as well as appearing as frank pike in the 2009 fox television film virtuality originally intended as a pilot he became widely known to a broad audience for his current role as ser jaime lannister in the hbo series game of thrones in 2017 he became one of the highest paid actors on television and earned 2 million per episode of game of thrones


Claim: nikolaj coster waldau refused to ever work with the fox broadcasting company
Most similar context: david krumholtz lrb born may 15 1978 rrb is an american actor he played charlie eppes in the cbs drama series numbers he played seth goldstein in harold kumar go to white castle and its two sequels harold kumar escape from guantanamo bay and a very harold kumar 3d christmas he is also known for his role as bernard the elf in the santa clause and its sequel the santa clause 2 additionally he is known for his role as mr universe in the 2005 film serenity and played michael the av geek in 10 things i hate about you in 2016 he provided the voice for kareem abdul lavash in the adult animated film sausage party
Actual: nikolaj coster waldau lrb lsb ne ola k sd ald rsb born 27 july 1970 rrb is a danish actor producer and screenwriter he graduated from danish national school of theatre in copenhagen in 1993 coster waldau s breakthrough performance in denmark was his role in the film nightwatch lrb 1994 rrb since then he has appeared in numerous films in his native scandinavia and europe in general including headhunters lrb 2011 rrb and a thousand times good night lrb 2013 rrb in the united states his debut film role was in the war film black hawk down lrb 2001 rrb playing medal of honor recipient gary gordon he then played detective john amsterdam in the short lived fox television series new amsterdam lrb 2008 rrb as well as appearing as frank pike in the 2009 fox television film virtuality originally intended as a pilot he became widely known to a broad audience for his current role as ser jaime lannister in the hbo series game of thrones in 2017 he became one of the highest paid actors on television and earned 2 million per episode of game of thrones


Claim: nikolaj coster waldau was in a film
Most similar context: geronimo is a 1962 technicolor western film made by levy gardner laven and released by united artists starring chuck connors in the title role the film was directed by arnold laven from a screenplay by pat fielder and was mostly filmed in durango mexico the following year connors would marry his costar kamala devi
Actual: nikolaj coster waldau lrb lsb ne ola k sd ald rsb born 27 july 1970 rrb is a danish actor producer and screenwriter he graduated from danish national school of theatre in copenhagen in 1993 coster waldau s breakthrough performance in denmark was his role in the film nightwatch lrb 1994 rrb since then he has appeared in numerous films in his native scandinavia and europe in general including headhunters lrb 2011 rrb and a thousand times good night lrb 2013 rrb in the united states his debut film role was in the war film black hawk down lrb 2001 rrb playing medal of honor recipient gary gordon he then played detective john amsterdam in the short lived fox television series new amsterdam lrb 2008 rrb as well as appearing as frank pike in the 2009 fox television film virtuality originally intended as a pilot he became widely known to a broad audience for his current role as ser jaime lannister in the hbo series game of thrones in 2017 he became one of the highest paid actors on television and earned 2 million per episode of game of thrones


Claim: game of thrones season 1 featured danish actor nikolaj coster waldau
Most similar context: birmingham lrb lsb b m m rsb rrb is a city and metropolitan borough in the west midlands england it is the largest and most populous british city outside london with a population of 1 101 360 in 2014 a medium sized market town in the medieval period birmingham grew to international prominence in the 18th century at the heart of the midlands enlightenment and subsequent industrial revolution which saw the town at the forefront of worldwide advances in science technology and economic development producing a series of innovations that laid many of the foundations of modern industrial society by 1791 it was being hailed as the first manufacturing town in the world birmingham s distinctive economic profile with thousands of small workshops practising a wide variety of specialised and highly skilled trades encouraged exceptional levels of creativity and innovation and provided a diverse and resilient economic base for industrial prosperity that was to last into the final quarter of the 20th century perhaps the most important invention in british history the industrial steam engine was invented in birmingham its resulting high level of social mobility also fostered a culture of broad based political radicalism that under leaders from thomas attwood to joseph chamberlain was to give it a political influence unparalleled in britain outside london and a pivotal role in the development of british democracy from the summer of 1940 to the spring of 1943 birmingham was bombed heavily by the german luftwaffe in what is known as the birmingham blitz the damage done to the city s infrastructure in addition to a deliberate policy of demolition and new building by planners led to extensive demolition and redevelopment in subsequent decades today birmingham s economy is dominated by the service sector the city is a major international commercial centre ranked as a gamma world city by the globalization and world cities research network and an important transport retail events and conference hub its metropolitan economy is the second largest in the united kingdom with a gdp of 121 1 bn lrb 2014 rrb and its six universities make it the largest centre of higher education in the country outside london birmingham s major cultural institutions including the city of birmingham symphony orchestra the birmingham royal ballet the birmingham repertory theatre the library of birmingham and the barber institute of fine arts enjoy international reputations and the city has vibrant and influential grassroots art music literary and culinary scenes birmingham is the fourth most visited city in the uk by foreign visitors birmingham s sporting heritage can be felt worldwide with the concept of the football league and lawn tennis both originating from the city its most successful football club aston villa has won seven league titles and one european cup with the other professional club being birmingham city people from birmingham are called brummies a term derived from the city s nickname of brum this originates from the city s dialect name brummagem which may in turn have been derived from one of the city s earlier names bromwicham there is a distinctive brummie accent and dialect
Actual: nikolaj coster waldau lrb lsb ne ola k sd ald rsb born 27 july 1970 rrb is a danish actor producer and screenwriter he graduated from danish national school of theatre in copenhagen in 1993 coster waldau s breakthrough performance in denmark was his role in the film nightwatch lrb 1994 rrb since then he has appeared in numerous films in his native scandinavia and europe in general including headhunters lrb 2011 rrb and a thousand times good night lrb 2013 rrb in the united states his debut film role was in the war film black hawk down lrb 2001 rrb playing medal of honor recipient gary gordon he then played detective john amsterdam in the short lived fox television series new amsterdam lrb 2008 rrb as well as appearing as frank pike in the 2009 fox television film virtuality originally intended as a pilot he became widely known to a broad audience for his current role as ser jaime lannister in the hbo series game of thrones in 2017 he became one of the highest paid actors on television and earned 2 million per episode of game of thrones


Claim: nikolaj coster waldau refused to ever be an actor
Most similar context: cosmopolitan is an international fashion magazine for women formerly titled the cosmopolitan the magazine was first published in 1886 in the united states as a family magazine it was later transformed into a literary magazine and eventually became a women s magazine in the late 1960s often referred to as cosmo its content as of 2011 includes articles on women s issues relationships sex health careers self improvement celebrities fashion and beauty published by hearst corporation cosmopolitan has 64 international editions is printed in 35 languages and is distributed in more than 110 countries
Actual: nikolaj coster waldau lrb lsb ne ola k sd ald rsb born 27 july 1970 rrb is a danish actor producer and screenwriter he graduated from danish national school of theatre in copenhagen in 1993 coster waldau s breakthrough performance in denmark was his role in the film nightwatch lrb 1994 rrb since then he has appeared in numerous films in his native scandinavia and europe in general including headhunters lrb 2011 rrb and a thousand times good night lrb 2013 rrb in the united states his debut film role was in the war film black hawk down lrb 2001 rrb playing medal of honor recipient gary gordon he then played detective john amsterdam in the short lived fox television series new amsterdam lrb 2008 rrb as well as appearing as frank pike in the 2009 fox television film virtuality originally intended as a pilot he became widely known to a broad audience for his current role as ser jaime lannister in the hbo series game of thrones in 2017 he became one of the highest paid actors on television and earned 2 million per episode of game of thrones


Claim: nikolaj coster waldau played frank pike in virtuality
Most similar context: hungary has 3 152 localities as of july 1 2009 328 towns lrb hungarian term v ros plural v rosok the terminology does n t distinguish between cities and towns the term town is used in official translations rrb and 2 824 villages lrb hungarian k zs g plural k zs gek rrb the number of towns can change since villages can be elevated to town status by act of the president the capital budapest has a special status and is not included in any county while 23 of the towns are so called urban counties lrb megyei jog v ros town with county rights rrb all county seats except budapest are urban counties four of the cities lrb budapest miskolc gy r and p cs rrb have agglomerations and the hungarian statistical office distinguishes seventeen other areas in earlier stages of agglomeration development the largest city is the capital budapest the smallest town is p lh za with 1038 inhabitants lrb 2010 rrb the largest village is solym r lrb population 10 123 as of 2010 rrb there are more than 100 villages with fewer than 100 inhabitants while the smallest villages have fewer than 20 inhabitants

In [70]:
import h5py

# Assuming context_embeddings is your PyTorch tensor on the CUDA device
# First, move the tensor to the CPU, then convert it to a NumPy array
context_embeddings_cpu = context_embeddings.cpu().numpy()

# Now you can save it using h5py
with h5py.File('embeddings/merged_embeddings.h5', 'w') as file:
    file.create_dataset('merged_embeddings', data=context_embeddings_cpu)