## LOADING PRETRAINED MODEL

In [1]:
import pandas as pd

In [18]:
from simpletransformers.retrieval import RetrievalModel


model_type = "dpr"
model_name = "/home/rahvk/data/tmp/cache/model-hn-5/checkpoint-12844-epoch-1"

# Initialize a RetrievalModel
model = RetrievalModel(
    model_type=model_type,
    model_name=model_name,
)

## EVALUATING LOADED MODEL

In [19]:
train_data = pd.read_parquet('processed_df/train_data.parquet')

In [20]:
train_data.head()

,query_text,gold_passage,title,hard_negative
0,nikolaj coster waldau worked with the fox broa...,nikolaj coster waldau lrb lsb ne ola k sd ald ...,Nikolaj_Coster-Waldau,frederick fred seibert lrb born september 15 1...
1,nikolaj coster waldau was not in a danish thri...,nikolaj coster waldau lrb lsb ne ola k sd ald ...,Nikolaj_Coster-Waldau,lars von trier lrb lars trier 30 april 1956 rr...
2,nikolaj coster waldau worked with peter dinklage,nikolaj coster waldau lrb lsb ne ola k sd ald ...,Nikolaj_Coster-Waldau,arthur schopenhauer lrb lsb a t o pm ha rsb 22...
3,nikolaj coster waldau refused to ever work wit...,nikolaj coster waldau lrb lsb ne ola k sd ald ...,Nikolaj_Coster-Waldau,harry herbert frazee lrb june 29 1880 june 4 1...
4,nikolaj coster waldau was in a film,nikolaj coster waldau lrb lsb ne ola k sd ald ...,Nikolaj_Coster-Waldau,armin mueller stahl lrb born 17 december 1930 ...

In [21]:
result = model.eval_model(train_data)

Map:   0%|          | 0/102748 [00:00<?, ? examples/s]

Map:   0%|          | 0/102748 [00:00<?, ? examples/s]

Map:   0%|          | 0/102748 [00:00<?, ? examples/s]

Saving the dataset (0/1 shards):   0%|          | 0/102748 [00:00<?, ? examples/s]

  0%|          | 0/103 [00:00<?, ?it/s]

Map:   0%|          | 0/102748 [00:00<?, ? examples/s]

Map:   0%|          | 0/102748 [00:00<?, ? examples/s]

Running Evaluation:   0%|          | 0/12844 [00:00<?, ?it/s]

/home/rahvk/data/tmp/anaconda3/envs/faiss_1.7.4/lib/python3.10/site-packages/simpletransformers/retrieval/retrieval_model.py:1659: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).
  (max_idxs == torch.tensor(labels)).sum().cpu().detach().numpy().item()

Retrieving docs:   0%|          | 0/201 [00:00<?, ?it/s]

In [22]:
res, doc_ids, doc_vectors, doc_dicts = result
res

{'eval_loss': 6.47824800401875,
 'mrr@1': 0.0,
 'mrr@2': 0.0,
 'mrr@3': 0.0,
 'mrr@5': 0.0,
 'mrr@10': 0.0,
 'top_1_accuracy': 0.0,
 'top_2_accuracy': 0.0,
 'top_3_accuracy': 0.0,
 'top_5_accuracy': 0.0,
 'top_10_accuracy': 0.0}

## MAKING PREDICTIONS

In [7]:
merged_df = pd.read_parquet('processed_df/merged_df.parquet')

In [8]:
merged_df.head()

,claim_id,label,claim,wiki_title,wiki_index,wiki_text
0,75397,SUPPORTS,nikolaj coster waldau worked with the fox broa...,Nikolaj_Coster-Waldau,3508521,nikolaj coster waldau lrb lsb ne ola k sd ald ...
1,58718,REFUTES,nikolaj coster waldau was not in a danish thri...,Nikolaj_Coster-Waldau,3508521,nikolaj coster waldau lrb lsb ne ola k sd ald ...
2,134655,SUPPORTS,nikolaj coster waldau worked with peter dinklage,Nikolaj_Coster-Waldau,3508521,nikolaj coster waldau lrb lsb ne ola k sd ald ...
3,86306,REFUTES,nikolaj coster waldau refused to ever work wit...,Nikolaj_Coster-Waldau,3508521,nikolaj coster waldau lrb lsb ne ola k sd ald ...
4,149361,SUPPORTS,nikolaj coster waldau was in a film,Nikolaj_Coster-Waldau,3508521,nikolaj coster waldau lrb lsb ne ola k sd ald ...

In [9]:
queries = list(set(merged_df['claim']))
passages = list(set(merged_df['wiki_text']))

In [10]:
to_predict = queries[:5]

In [11]:
predicted_passages, doc_ids, doc_vectors, doc_dicts = model.predict(to_predict, prediction_passages=passages)

Map:   0%|          | 0/9528 [00:00<?, ? examples/s]

Saving the dataset (0/1 shards):   0%|          | 0/9528 [00:00<?, ? examples/s]

  0%|          | 0/10 [00:00<?, ?it/s]

Generating query embeddings: 0it [00:00, ?it/s]

Retrieving docs:   0%|          | 0/1 [00:00<?, ?it/s]

Note: predicted_passages is a list of lists having predicted top-10 documents per claim in the 'to_predict' list

In [12]:
print(len(predicted_passages))
print(len(predicted_passages[0]))

5
10

In [17]:
for i in range(5):
    claim = to_predict[i]
    print("Claim:", claim)
    print("Actual passage:", merged_df[merged_df['claim'] == claim]['wiki_text'])
    print("Predicted top passage:", predicted_passages[i][0])

Claim: david carradine had offenses
Actual passage: 29798    david carradine lrb born john arthur carradine...
Name: wiki_text, dtype: object
Predicted top passage: hell in many religious and folkloric traditions is a place of torment and punishment in an afterlife religions with a linear divine history often depict hells as eternal destinations while religions with a cyclic history often depict a hell as an intermediary period between incarnations typically these traditions locate hell in another dimension or under the earth s surface and often include entrances to hell from the land of the living other afterlife destinations include heaven purgatory paradise and limbo other traditions which do not conceive of the afterlife as a place of punishment or reward merely describe hell as an abode of the dead the grave a neutral place located under the surface of earth lrb for example see sheol and hades rrb hell is sometimes portrayed as populated with demons who torment those dwelling there many are ruled by a death god such as nergal hades hel or enma
Claim: claudia leitte is brazilian
Actual passage: 50638    cl udia cristina leite in cio pedreira lrb lsb...
Name: wiki_text, dtype: object
Predicted top passage: canberra united football club is a soccer club based in canberra australia for the women s team it competes in the country s premier women s competition the w league for the men s and youth teams it competes in the npl capital football competition the club was formed in 2008 for the w league s inaugural season canberra is the only team in the league that is not affiliated to a men s a league club the restructuring of a youth development program in 2016 sees the addition of a canberra united academy team league to the npl capital football competition additionally a team in the national youth league from canberra also competes lrb the australian institute of sport rrb in their first w league season canberra were runners up in the grand final defeated by queensland roar lrb now brisbane roar rrb canberra were crowned premiers and champions in the 2011 12 season after winning the league and defeating brisbane roar in the grand final
Claim: the term cult film was used to describe the group that surrounded underground films
Actual passage: 10119    a cult film also commonly referred to as a cul...
Name: wiki_text, dtype: object
Predicted top passage: dominance in genetics is a relationship between alleles of one gene in which the effect on phenotype of one allele masks the contribution of a second allele at the same locus the first allele is dominant and the second allele is recessive for genes on an autosome lrb any chromosome other than a sex chromosome rrb the alleles and their associated traits are autosomal dominant or autosomal recessive dominance is a key concept in mendelian inheritance and classical genetics often the dominant allele codes for a functional protein whereas the recessive allele does not a classic example of dominance is the inheritance of seed shape in peas peas may be round associated with allele r or wrinkled associated with allele r in this case three combinations of alleles lrb genotypes rrb are possible rr rr and rr the rr individuals have round peas and the rr individuals have wrinkled peas in rr individuals the r allele masks the presence of the r allele so these individuals also have round peas thus allele r is dominant to allele r and allele r is recessive to allele r this use of upper case letters for dominant alleles and lower case ones for recessive alleles is a widely followed convention more generally where a gene exists in two allelic versions lrb designated a and a rrb three combinations of alleles are possible aa aa and aa if aa and aa individuals lrb homozygotes rrb show different forms of some trait lrb phenotypes rrb and aa individuals lrb heterozygotes rrb show the same phenotype as aa individuals then allele a is said to dominate or be dominant to or show dominance to allele a and a is said to be recessive to a dominance is not inherent to either an allele or its phenotype it is a relationship between two alleles of a gene and their associated phenotypes one allele can be dominant over a second allele recessive to a third allele and codominant to a fourth also an allele may be dominant for a particular aspect of phenotype but not for other aspects influenced by the same gene dominance differs from epistasis a relationship in which an allele of one gene affects the expression of another allele at a different gene
Claim: the miami heat had a player named lebron james
Actual passage: 43410    lebron raymone james lrb lsb l br n rsb born d...
Name: wiki_text, dtype: object
Predicted top passage: los angeles county officially the county of los angeles is the most populous county in the united states its population is larger than that of 42 individual u s states it has 88 incorporated cities and many unincorporated areas and at 4083 sqmi it is larger than the combined areas of the u s states of delaware and rhode island the county is home to more than one quarter of california residents and is one of the most ethnically diverse counties in the u s its county seat the city of los angeles is also its most populous city at about four million
Claim: avatar the last airbender s episodes have always been called episodes
Actual passage: 7636    avatar the last airbender lrb avatar the legen...
Name: wiki_text, dtype: object
Predicted top passage: nitroplus co ltd stylized as nitro is a japanese visual novel computer software company that has developed a number of visual novels including eroge they also have been collaborating with type moon lrb another developer rrb to create the light novel series fate zero their works usually have dark themes such as reanimation of the dead rape and murder they also have a branch of the company called nitro chiral which focuses on boys love visual novels writers aligned with the company such as gen urobuchi have also contributed to various manga anime novel and television works super sonico is the mascot of nitroplus annual music festival event nitro super sonico since 2006 nitroplus has held their music festival every year since 2000

## NOTE:

OUTPUT DOCUMENT FORMAT (JSON):

{"claim_id": ["wiki_title1", "wiki_title2", ...]}